* {
	margin: 0;
	padding: 0;
}

body {
	/*background: url(../img/background.jpg);
	background-size: 100%;*/
	background: #f4f4f4;
	width: 100%;
	position: relative;
	overflow: hidden;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	width: 0;
	visibility: hidden;
}

.clearfix {
	
}

.clearfix {
	zoom: 1;
}

.zhezhao {
	position: absolute;
	/*background: rgba(255, 255, 255, 0.2);*/
	background-image: url(../img/background.jpg);
}

.avatar {	
	box-sizing: border-box;
	border: 3px solid #fff;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;	
}

.zz1 {
	background-position: 0 0;
}

.zz2 {
	background-position:50% 0 ;
}

.ava-float {
	position: absolute;
	opacity: 0.7;
	width: 200px;
	height: 200px;
	top: 200px;	
}

.ava-img {
	width: 100%;	
}

.avatar:hover{
	animation: turnDark .5s linear;
	animation-fill-mode: forwards;
}


@keyframes turnDark{
	50% {
		opacity: 0.9;
	}
	100% {
		opacity: 1;
	}
}

.nav {
	position: fixed;
	width: 250px;
	left: -250px;
	height: 100%;
	background-image: url(../img/background.jpg);
	color: #fff;
	font-family: "微软雅黑";
	font-weight: bold;
	letter-spacing: .1em;
	text-align: center;
}

.ava-fix {
	width: 150px;
	height: 150px;
	margin: 50px auto;
}

.nav-detail {
	margin: 50px auto;
}

.nav-list {
	height: 50px;
	line-height: 50px;
}

.nav-list a {
	display: block;
	color: inherit;
}

.nav-list a:hover {
	background: rgba(255, 255, 255, 0.4);
}

.now::after {
	content: '☺';
	position: absolute;
	right: 10px;
}

.resume {
	z-index: -999;
	margin-left: 230px;
	font-family: "微软雅黑";
	color: #717171;
}

.resume-wrap {
	width: 860px;
	margin: 0 auto;
}

.section {
	width: 100%;
	padding-top: 50px;
	
}

.head {
	font-size: 20px;
	font-weight: bold;
}

.message {
	margin: 20px 0;
	font-size: 14px;
}

.info-li {
	height: 50px;
	line-height: 40px;
	float: left;
	width: 300px;
	
}

.info-li span {
	padding-left: 10px;
	display: block;
	width: 180px;
	border-bottom: 1px solid #ccc;
}

.edu {
	margin-bottom: 20px;
}

.edu-title {
	color: #e7804f;
	margin-bottom: 10px;
}

.edu-title span {
	margin-right: 25px;
}

.skill {
	height: 20px;
	line-height: 20px;
}

.produc-link {
	color: inherit;
}
